.container {
  padding: 0 2rem;
}

.list{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}
.list__item{
  display: flex;
  margin: 2rem;
  padding: 2rem;
  border: 2px solid rgb(69, 206, 216);
  transition: transform.5s ease;
}
.list__item:hover{
  transform: scale(1.1); 
}
.item__info{
  max-width: 500px;
}
.item__img{

  margin: 1rem;

}